.operations{

	padding: 5px;
	padding-top: 1px;
	font-size: 25px;
}
.op_buttons{
	display: block;
	align: left;
	width: 120px;
	height: 70px;
}
#spacing{
	float: right;
	margin-top: 250px;
}
#numbers{
	float: left;
	margin-top: 250px;
}
.num_buttons{
	display: block;
	align: left;
	width: 120px;
	height: 70px;
}
